{% extends 'storefront/base.html.twig' %}
{% block content %}

    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{blog.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on <span>{{ blog.createdAt|date('M d, Y') }}</span></div>
                        <!-- Post categories-->

{#                        {% set blogCategories = [] %}#}
{#                        {% for category in blog.categories %}#}
{#                            {% set blogCategories = blogCategories | merge([{'name': category.name, 'slug': category.slug}]) %}#}
{#                        {% endfor %}#}


                        {% for category in blog.categories %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="/category/{{ category.slug }}">{{ category.name }}</a>
                        {% endfor %}

                    </header>
                    <!-- Preview image figure-->
{#                    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>#}
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ blog.content }}</p>
                    </section>
                </article>
                <!-- Comment section-->
                <section class="mb-5">

                    <div id="commentListArea" class="card p-3 mb-3">
                        {% for comment in blog.comments %}
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/>
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold">
                                        {{ comment.username }} - {{ comment.createdAt|date('y-m-d') }}
                                    </div>
                                    <div class="text-break">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% if session is defined and session.userName %}
                        <div class="card bg-light">
                            <div class="card-body">
                            <!-- Comment form-->
                                <label for="comment">Comments</label>
                                <textarea class="form-control" rows="3" id="comment" placeholder="Join the discussion and leave a comment!"></textarea>
                                <button class="btn btn-success mt-2" style="float: right" id="saveComment" onclick="saveComment();">Share</button>
                            </div>
                        </div>
                    {% endif %}

                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <form action="/search-results" method="post">
                                <input class="form-control" type="text" name="search" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="text-uppercase"><a class="text-decoration-none" href="/category/{{ category.slug }}">{{ category.name }}</a></li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="blogId" value="{{ blog.id }}">
    <input type="hidden" id="username" value="{{ session.userName }}">

{% endblock %}